<?xml version="1.0"?>

<launch>

  <arg name="db"        default="false" />
  <arg name="debug"     default="false" />
  <arg name="rviz"      default="true"  />
  <arg name="state_pub" default="false" />
  
  <!-- Load sematic description (SRDF), joint limits, and kinematics solver. Assume robot description (URDF) is already loaded. -->
  <include file="$(find pr2_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>
  
  <!-- The root link base_footprint has an inertia specified in the URDF, but KDL does not support a root link with an inertia.  As a workaround, you can add an extra dummy link to your URDF. -->
  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom_combined base_footprint 100" />
  
  <group if="$(arg state_pub)">
    <!-- Tool for setting and publishing joint state values for a given URDF -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
    </node>
    <!-- Publish the state of a robot to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  </group>

  <!-- Load planning pipeline, Kinect sensor for octomap, etc. --> 
  <include file="$(find pr2_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
 
  <group if="$(arg rviz)">
    <include file="$(find pr2_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="true"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
  </group>

<group if="$(arg db)">  
  <include file="$(find pr2_moveit_config)/launch/default_warehouse_db.launch" />
</group>
  
  <!-- Load IKFast solver ? --> 
  <!-- <rosparam command="load" file="$(find apc_baxter)/cfg/kinematics.yaml"/> --> 
  
</launch>
